* {
    margin: 0%;
    border: 0%;
    
}

body{
    background-color: rgb(119, 240, 67);
}

header{

    background-color: #4493c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1em;
    
  
}

.Introducción{
    color:rgb(226, 43, 58);
    display: flex;
    justify-content: center;
    margin: 2%;
    font-size: 50px;
   

}

.Aprendiendo-GIT{
    
    color:rgb(238, 96, 183);
    padding: 30px;
    border:12px;
    font-family: Arial;
 
   
}

.Mauscuro2 img{
    display: flex;
    height: 101px;
    justify-content: flex;
    position: relative;
    left: 100px;
    
}

.logogit{
    display: flex;
    justify-content: end;
}

.logogit img{

 
    height: 101px;
    margin-right: 11px;
   

}


nav {
    padding-right: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}

.Elmejoraprendizajeespracticando{

    display: flex;
    justify-content: center;

}

p{
    display: flex;
    justify-content: center;
    margin: 2%;
}

.Resolviendo-conflictos{
    
    color: rgb(179, 14, 27);
    display: flex;
    justify-content: center;

}
.Las-diferencias-entre-main-y-cabecera{

    color:lightslategray;
    display: flex;
    justify-content: center;
}


.La-genialidad-de-GIT-20{
    display:flex;
    justify-content: center;

}

#footer{
    display: flex;
    justify-content: center;
    text-align: center;

}

.foto img{
    width: 500px;
    position: relative;
    left: 430px;
    top: 30px;
 
}
