* {
    margin: 0%;
    border: 0%;
    
}

body{
    background-color: rgb(89, 187, 50);
}

header{

    background-color: #4493c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1em;
    
  
}

.cabecera{
    color:rgb(226, 43, 58);
    display: flex;
    position: relative;
    top: 1%; right: -3%;
    font-size: 20px;
}

.Aprendiendo-GIT{
    
    color:rgb(196, 144, 238);
    padding: 30px;
    border:12px;
 
   
}

.logogit{
    display: flex;
}

.logogit img{

 
    height: 101px;
    margin-right: 11px;
   

}

nav {
    padding-right: 101px;
    display: flex;
    justify-content: space-between;
    font-size: 3em;
}

